* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    }
    html {
        scroll-behavior: smooth;
    }
    
    
    body{
        background: chocolate;
        color: beige;
        min-height: 100vh;
    }
    
    /* im styling the header */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 99%;
        padding: 30px 3%;
        background: #9b4922;
        border: 2px solid #9b4922;
        border-radius: 80px;
        /* margin-top: 1%; */
        margin: 1% 1% 1% 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    
    
    /* styling my name */
    .logo {
        font-size: 25px;
        color: transparent;
        text-decoration: none;
        font-weight: 600;
        margin-right: 5px 0;       
    }
        .logo2 { 
            border-radius: 500px;
            position: fixed;
            margin-right: 5px 0;   
        width: 120px; 
        height: 70px; 
        background-image: url(../images/LogoGomolemo.png);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center;
    }
    @media (max-width: 768px) {
        .logo2 {
            width: 100px; /* Smaller width for mobile */
        }
    }
    
    

    .navbar{
        display: flex;
        align-items: center;    
    }

    nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav li{
        height: 50px;
    }
    
    
    /* styling the link to the other pages in the navbar */
    nav a {
        height: 100%;
        font-size: 15px;
        padding: 0 20px;
        color: beige;
        text-decoration: none;
        font-weight: 500;
        /* margin: 10px 0; */
        display: flex;
        align-items: center;
        transition: .3s;
    }
    
    /* making the text chang color when hovring above link or if its active */
    .navbar a:hover{
        color: red;
    }
    .navbar a.active{
        color: brown;
    }

        /* this is what pops out when you click the menu button */
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(245, 245, 220, 0.521);
        backdrop-filter: blur(10px);
        box-shadow: -300px 0px 400px rgba(0, 0, 0, 0.329);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: transform 0.3s ease;
        
    }
    
    
    /* Show sidebar */
    .show-sidebar {
        transform: translateX(0);
    }
    
    .sidebar li{
        width: 100%;
    }
    .sidebar li:first-child{
        margin-left: 70%;
        margin-top: 7%;
    }
   
    /* font color on the sidebar */
    .sidebar a {
        width: 100%;
        color: black;
    }

    /* hiding the menu button on bigger screens */
    .menu-Button{
        display: none;
    }


    /* making the links and sidebar responsive */
    @media(max-width: 800px){
        .hideOnMobile{
            display: none;
            transition: .5s;
        }
        .menu-Button{
            display: block;
            transition: .5s;
        }
    }
        
    




    /* information displayed on the home page */
    .home{
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0 10%;     
    }

    .headshot {
        width: 230px; /* Adjust width as desired */
        height: 250px; /* Keep aspect ratio */
        margin-left: 80px; /* Space between text and image */
        border-radius: 10px;
        background-image: url(../images/headshot.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
    .headshot:hover{
        width: 240px;
        height: 260px;        
        transition: .5s ease-in-out;
        
    }

    /* making sure that paragraph doesnt overlap */
    .home-content{
        max-width: 600px;
        /* display: flex;
        align-items: center; */
    }
    
    /* welcome text */
    .home-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
        
    }
    
    /* information tech grad */
    .home-content h3{
        font-size: 22px;
        font-weight: 600;
        
        color: brown;
    }
    
    /* the paragraph */
    .home-content p {
        font-size: 16px;
        margin: 20px 0 40px;
    }
    
    /* the buttons lets talk and hire me */
    /* .home-content  */
    .btn-box{
        display: flex;
        justify-content: space-between;
        width: 345px;
        height: 50px;
        
    }
    
    /* how the buttons are going to look (exterior) */
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 100%;
        background: brown;
        border: 2px solid brown;
        border-radius: 18px;
        font-size: 26px;
        color: beige;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
    }
    
    /* how the buttons are going to look (interior) */
    .btn-box a:nth-child(2){
        background: transparent;
        color: beige;
    }
    
    .btn-box a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ff3700;
        z-index: -1;
        transition: .5s;
    }
    
    .btn-box a:hover::before{
        width: 100%;
    
    }


    .home-2ndSection{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 50%; 
    }

    

    
    
    
    .social-content{
    display: flex;
    justify-content: start;
    width: 245px;
    height: 50px;
    gap: 10px;
    }
    .social-content a{
        text-decoration: none;
        margin-right: 1px;
        color: #ff3700; 
        position: relative;
        display: flex;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: brown;
        border: 2px solid brown;
        font-size: 30px;
        border-radius: 80px;
        align-items: center;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }

    
    .social-content a:hover {
        color: #010a15; 
    }
    .blur-content {
        filter: blur(5px); 
        transition: filter 0.5s ease;
    }
    
    